---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import BlogPageListingItem from "../../components/BlogPageListingItem.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <div class="grid grid-cols-4 gap-8">
      <div id="tags-sidebar" class="bg-neutral-800 col-span-1 p-4 rounded-sm">
        <h4>All Posts</h4>
        <ul class="ml-4">
          <li>Tag 1</li>
          <li>Tag 2</li>
        </ul>
      </div>
      <div id="post-listing" class="col-span-3">
        <ul>
          {
            posts.map((post) => (
              <BlogPageListingItem
                title={post.data.title}
                tags={post.data.tags}
                description={post.data.description as string}
                pubDate={post.data.pubDate}
                pageSlug={post.slug}
              />
            ))
          }
        </ul>
      </div>
    </div>
    <Footer />
  </body>
</html>
