---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import BlogPageListingItem from "../../components/BlogPageListingItem.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <h1>All Posts</h1>
    <ul>
      <div
        id="post-listing"
        class="mt-10 flex flex-col md:grid md:grid-cols-3 gap-x-8 gap-y-10 md:gap-y-8"
      >
        {
          posts.map((post) => (
            <BlogPageListingItem
              title={post.data.title}
              tags={post.data.tags}
              description={post.data.description as string}
              pubDate={post.data.pubDate}
              cover={post.data.cover || null}
              pageSlug={post.slug}
            />
          ))
        }
      </div>
    </ul>
    <Footer />
  </body>
</html>
