---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";
import TagLinks from "./TagLinks.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, tags, pubDate, pageSlug, heroImage } = Astro.props;
---

<div class="col-span-1">
  <img src=`/src/assets/images/${heroImage}` alt={title} class="w-full" />
  <li class="mt-10 list-none">
    <h4 class="text-neutral-400">
      <FormattedDate date={pubDate} />
    </h4>
    <h2>
      <a href={`/blog/${pageSlug}`}>{title}</a>
    </h2>
    <TagLinks tags={tags} />
    <p class="mt-4 line-clamp-3">{description}</p>
  </li>
</div>
