---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import { getPostBySlug, getPreviousPost } from "../lib/utils";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
const { slug } = Astro.params;

const post = getPostBySlug(slug as string);
const previousPost = getPreviousPost(post?.slug as string);

// If the post doesn't exist, throw a 404
if (!post) {
  return;
}
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <section
        class="prose container prose-headings:text-neutral-300 text-neutral-200 max-w-none"
      >
        <article>
          <div class="pb-6 text-center">
            <h2 class="not-prose text-base mb-2 text-neutral-500">
              <FormattedDate date={pubDate} />
            </h2>
            <h1 class="text-5xl not-prose">{post.data.title}</h1>
          </div>
          <div class="grid grid-cols-4 grid-rows-[auto_1fr] mt-10">
            <div class="text-sm pb-8">
              <h5 class="font-bold uppercase tracking-wide">Tags</h5>
              <div class="flex flex-wrap gap-x-4">
                {
                  post.data?.tags?.map((tag) => (
                    <a href={`/tags/${tag}`}>{tag}</a>
                  ))
                }
              </div>
              <div class="flex text-sm flex-col py-8">
                <h5 class="font-bold uppercase tracking-wide">Next Article</h5>
                <a
                  href={`/blog/${previousPost.slug}`}
                  class="not-prose text-accent-primary hover:text-accent-secondary"
                >
                  {previousPost.data.title}
                </a>
              </div>
            </div>
            <div class="col-span-3">
              <div id="box-info" class="">
                <h2 class="not-prose">Introduction</h2>
                <p>{description}</p>
                <!-- <Image
						  src={heroImage}
						  alt="hero image"
						  width={550}
						  height={550}
						/> -->
              </div>
              <div class="flex flex-col"><slot /></div>
            </div>
          </div>
        </article>
      </section>
    </main>
    <Footer />
  </body>
</html>
