---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
import { fade } from "astro:transitions";
import Footer from "@components/Footer.astro";
import FormattedDate from "@components/FormattedDate.astro";
import Header from "@components/Header.astro";
import { getPostBySlug, getPreviousPost } from "../lib/utils";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
const { slug } = Astro.params;

const post = getPostBySlug(slug as string);
const previousPost = getPreviousPost(post?.slug as string);

// If the post doesn't exist, throw a 404
if (!post) {
  return;
}
---

<html lang="en">
  <head>
    <ViewTransitions />
    <BaseHead
      title={title}
      description={description}
      image={post.data.cover.src}
    />
  </head>

  <body transition:animate={fade({ duration: "0.5s" })}>
    <Header />
    <main>
      <article>
        <section>
          <div
            class="pb-6 text-center flex flex-col items-center justify-center"
          >
            <h2 class="not-prose text-base mb-2 text-neutral-500">
              <FormattedDate date={pubDate} />
            </h2>
            <h1 class="text-5xl not-prose">{post.data.title}</h1>
            <Image
              src={post.data.cover}
              alt={post.data.title}
              width="700"
              height="700"
              class="mt-8"
            />
          </div>
          <div class="grid grid-cols-4 gap-x-4 mt-10">
            <div class="text-sm pb-8">
              <h5 class="font-bold uppercase tracking-wide">Tags</h5>
              <div class="flex flex-wrap gap-x-4">
                {
                  post.data?.tags?.map((tag) => (
                    <a href={`/tags/${tag}`}>{tag}</a>
                  ))
                }
              </div>
              <div class="flex text-sm flex-col py-8">
                <h5 class="font-bold uppercase tracking-wide">Next Article</h5>
                <a
                  href={`/blog/${previousPost.slug}`}
                  class="not-prose text-accent-primary hover:text-accent-secondary"
                >
                  {previousPost.data.title}
                </a>
              </div>
            </div>
            <div class="col-span-3">
              <div id="box-info" class="">
                <h2 class="not-prose">Introduction</h2>
                <p>{description}</p>
              </div>
              <div class="flex flex-col"></div>
            </div>
          </div>
        </section>
        {
          post.data.htbMachineActive ? (
            <section class="prose prose-headings:text-neutral-200 text-neutral-200 max-w-none">
              <div class="bg-accent-primary flex mt-10 justify-center text-neutral-900 p-4 text-center">
                <p class="text-lg font-medium">
                  This machine is still listed as active. Check back for
                  updates!
                </p>
              </div>
            </section>
          ) : (
            <section class="prose prose-headings:text-neutral-200 text-neutral-200 max-w-none">
              <slot />
            </section>
          )
        }
      </article>
    </main>
    <Footer />
  </body>
</html>
